* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.contenedor {
    width: 100%;
    display: flex;
    height: 100vh;
    justify-content: center;
    background-color: #122346;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
}

.contenido {
    padding: 20px;
}

.titulo {
    background-color: #122346;
    color: #B8711B;
    text-align: center;
    font-weight: 300;
    padding: 20px;
}

.border {
    border: none;
    margin-bottom: 5px;
    border-top: 10px solid #B8711B;
    background: none;
    color: none;
}

a {
    padding-left: 20px;
    text-decoration: none;
    color: #e5670f;
}

a:hover {
    color: black;
}

.item {
    width: 90%;
    max-width: 500px;
    border-radius: 5px;
    background-color: white;
    align-self: center;
}

.form {
    padding: 30px;
    margin-bottom: 20px;
}

.form .form-group {
    width: 100%;
    margin-bottom: 10px;
}

.form input[type=text],
.form input[type=password] {
    width: 385px;
    padding: 15px;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 18px;
    border: none;
    border-bottom: 1px solid #ccc;
    vertical-align: top;
}

.form .icono {
    padding: 15px;
    text-align: center;
    width: 48px;
    max-height: 48px;
    font-size: 18px;
    line-height: 18px;
    background-color: #C8C8C8;
    display: inline-block;
    color: #6b6b6b;
    vertical-align: top;
}

.form .icono.izquierda {
    margin-right: 5px;
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    -ms-border-radius: 3px 0 0 3px;
    -o-border-radius: 3px 0 0 3px;
   -border-radius: 3px 0 0 3px;
}

.form .usuario,
.form .password {
    width: calc(100% - 52px);
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    -ms-border-radius: 0 3px 3px 0;
    -o-border-radius: 0 3px 3px 0;
    -border-radius: 0 3px 3px 0;
}

.form .error {
    background-color: #D27D71;
    padding: 10px;
}

.form .error ul {
    padding: 0 15px;
}

.form .error ul li {
    margin-bottom: 10px;
    list-style: none;
    display: inline-block;
}

.form .submit-btn {
    padding: 15px;
    text-align: center;
    width: 100%;
    margin-top: 5px;
    max-height: 48px;
    font-size: 16px;
    line-height: 18px;
    background-color: #679863;
    display: inline-block;
    color: #fff;
    cursor: pointer;

    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    -ms-border-radius: 0 3px 3px 0;
    -o-border-radius: 0 3px 3px 0;
   -border-radius: 0 3px 3px 0;
}

.form .submit-btn:hover {background-color: #1C5A09;}

.text-login {
    text-align: center;
    margin-bottom: 20px;
}

.text-login a {
    display: block;
    margin-top: 4px;   
}